.background img {
    width: 110%;
    margin-left: -10px;
    margin-top: -70px;
    position: fixed;
    z-index: 3;
}

.container-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 99;
    text-align: center;
}

#container {
    position: relative;
    z-index: 100;
    width: 70%;
    height: 80%;
    margin: auto;
    top: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.temp {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
}

a {
    font-family: Poppins;
    color: white;
    text-decoration: none;
}

a:hover {
    font-family: Poppins;
    color: #cf2026;
    text-decoration: none;
}

.answer_button {
    width: 100%;
    padding-top: 0px;
    text-decoration: none;
    z-index: 200;
    position: absolute;
    margin-top: 30px;
    text-align: center;
}

#answer {
    background-color: #cf2026;
    width: 250px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    margin: 20px;
    font-size: 18px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
}

/*
#notfunnyanswer {
    background-color: #cf2026;
    width: 250px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    margin: 15px;
    font-size: 30px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
}
*/

#answer:hover {
    background-color: white;
    height: 100%;
    text-decoration: none;
}

/*
#notfunnyanswer:hover {
    background-color: white;
    height: 100%;
    text-decoration: none;
}*/
